:root {
    --blue: #008DDA;
    --medium-blue: #41C9E2;
    --light-blue: #ACE2E1;
    --dark-blue: #4897cb;
    --very-dark-blue: #244860;
    --light: #F7EEDD;
    --red: #e24a4a;
    --green: #59d859;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.side {
    height: 100vh;
    padding: 20px;
    z-index: 0;

    background-color: var(--medium-blue);
    box-shadow: 4px 0px 5px var(--dark-blue);
}

.main {
    height: 100vh;

    background-color: var(--light);
}

.title {
    margin-bottom: 14px;

    color: white;
    font-size: 50px;
}

.projects-header {
    display: flex;
    gap: 60px;
}

.sub-title {
    color: white;
    font-size: 34px;
}

.btn {
    border: none;
    border-radius: 50px;
    box-shadow: 3px 2px 3px var(--dark-blue);
    font-weight: bold;
    color: white;
    background-color: var(--blue);
}

.btn:hover {
    transition: 0.1s linear;
    background-color: rgb(69, 174, 255);
}

.btn:active {
    background-color: rgb(119, 196, 255);
}

.add-task {
    position: absolute;
    bottom: 20px;
    right: 30px;

    padding: 12px 24px;
    font-size: 28px;
}

.add-project {
    padding: 5px 10px;
    font-size: 16px;
}

.project-modal {
    background-color: var(--light-blue);
    font-size: 30px;
    font-weight: bold;
    padding: 24px;
    border: none;
    border-radius: 10px;
    
    justify-self: center;
    align-self: center;
}

.close-project, .confirm-project, .close-task, .confirm-task {
    padding: 6px 12px;
    font-size: 16px;
}

.close-project, .close-task {
    background-color: var(--red);
}

.close-project:hover, .close-task:hover {
    background-color: #ec6767;
}

.close-project:active, .close-task:active {
    background-color: #ff8181;
}

.confirm-project, .confirm-task {
    background-color: var(--green);
}

.confirm-project:hover, .confirm-task:hover {
    background-color: #78ee78;
}

.confirm-project:active, .confirm-task:active {
    background-color: #98ff98;
}

.project-modal input {
    padding: 8px 4px;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-top: 20px;
}

#project-name {
    position: relative;
    bottom: 3px;
}

.project-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;

    background-color: var(--dark-blue);
    color: white;
    border-radius: 4px;
    font-size: 14px;
}

.project-div:hover {
    cursor: default;
}

.task-modal {
    background-color: var(--light-blue);
    font-size: 30px;
    font-weight: bold;
    padding: 24px;
    border: none;
    border-radius: 10px;
    
    justify-self: center;
    align-self: center;
}

.task-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.priority-container {
    display: flex;
    gap: 20px;
}

.text-input {
    display: flex;
    flex-direction: column;
}

input[type=radio] {
    transform: scale(1.6);
}

.radio-label {
    font-size: 16px;
}

input[type=checkbox] {
    transform: scale(2);
    position: relative;
    bottom: 3px;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    
    height: 100vh;
    padding: 20px 25px;
}

.task-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px;

    width: 100%;
    height: 10%;
    border-radius: 10px;

    color: white;
    background-color: var(--light-blue);
}

.task-div:hover {
    background-color: #a7dbda;
}

.delete-button-project {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;

    padding-bottom: 4px;
    width: 20px;
    height: 20px;
    font-size: 24px;

    border: none;
    background-color: inherit;
    color: var(--very-dark-blue);
    font-family: sans-serif;
}

.delete-button-task {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 4px;
    width: 30px;
    height: 30px;
    font-size: 34px;

    border: none;
    background-color: inherit;
    color: var(--very-dark-blue);
    font-family: sans-serif;
}

.delete-button-project:hover {
    transition: 0.4ms;
    cursor: pointer;
    font-size: 28px;
}

.delete-button-task:hover {
    transition: 0.4ms;
    font-size: 38px;
    cursor: pointer;
}